@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 249 250 251;
  --foreground: 26 26 26;
}

:root[class~="dark"] {
  --background: 26 26 26;
  --foreground: 249 250 251;
}

@layer base {
  body {
    @apply bg-[rgb(var(--background))] text-[rgb(var(--foreground))];
    font-family: Arial, Helvetica, sans-serif;
  }
}