@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 249 250 251;
  --foreground: 26 26 26;
}

:root[class~="dark"] {
  --background: 26 26 26;
  --foreground: 249 250 251;
}
